tajin fnal/Reservation/ReservationMVC/Service References/JammingServiceReference/Jamming2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:34052/Jamming.Consulta.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" />
  <xs:element name="RemoveAProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveAProjectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGroupMembers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGroupMembersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="GetAllGroupMembersResult" nillable="true" type="q1:ArrayOfArtist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroupGener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGroupGenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGroupGenerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAlbum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="albumId" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="album" nillable="true" type="q2:Album" />
        <xs:element minOccurs="0" name="status" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAlbumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditAlbumResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAlbum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="album" nillable="true" type="q3:Album" />
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAlbumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAlbumResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGroupAlbums">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGroupAlbumsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="GetAllGroupAlbumsResult" nillable="true" type="q4:ArrayOfAlbum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="account" nillable="true" type="q5:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAccountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReActiveAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReActiveAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReActiveAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccountFan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="fan" nillable="true" type="q6:Fan" />
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccountFanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAccountFanResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditFan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="fan" nillable="true" type="q7:Fan" />
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditFanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditFanResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccountArtist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="artist" nillable="true" type="q8:Artist" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccountArtistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAccountArtistResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditArtist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="artist" nillable="true" type="q9:Artist" />
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditArtistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditArtistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLocalManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="localManager" nillable="true" type="q10:LocalManager" />
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLocalManagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateLocalManagerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditLocalManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="localManager" nillable="true" type="q11:LocalManager" />
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditLocalManagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditLocalManagerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBusinessOwner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="businessId" type="xs:int" />
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBusinessOwnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateBusinessOwnerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditBusinessOwner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="businessOwner" nillable="true" type="q12:BusinessOwner" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditBusinessOwnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditBusinessOwnerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBusiness">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="business" nillable="true" type="q13:Business" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBusinessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateBusinessResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditBusiness">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="business" nillable="true" type="q14:Business" />
        <xs:element minOccurs="0" name="businessId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditBusinessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditBusinessResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBusinessLocal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="businessLocal" nillable="true" type="q15:BusinessLocal" />
        <xs:element minOccurs="0" name="businessId" type="xs:int" />
        <xs:element minOccurs="0" name="addressId" type="xs:int" />
        <xs:element minOccurs="0" name="managerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBusinessLocalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateBusinessLocalResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="address" nillable="true" type="q16:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAddressResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="address" nillable="true" type="q17:Address" />
        <xs:element minOccurs="0" name="addressId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditAddressResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="localEvent" nillable="true" type="q18:Event" />
        <xs:element minOccurs="0" name="businessLocalId" type="xs:int" />
        <xs:element minOccurs="0" name="directionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateEventResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="localEvent" nillable="true" type="q19:Event" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditEventResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGenre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="genre" nillable="true" type="q20:Genre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateGenreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGenre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="genre" nillable="true" type="q21:Genre" />
        <xs:element minOccurs="0" name="genreId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditGenreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateInstrumentType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="instrumentType" nillable="true" type="q22:InstrumentType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateInstrumentTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateInstrumentTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateInstrument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="instrument" nillable="true" type="q23:Instrument" />
        <xs:element minOccurs="0" name="typeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateInstrumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateInstrumentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditInstrument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="instrument" nillable="true" type="q24:Instrument" />
        <xs:element minOccurs="0" name="status" type="xs:boolean" />
        <xs:element minOccurs="0" name="instrumentId" type="xs:int" />
        <xs:element minOccurs="0" name="typeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditInstrumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditInstrumentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="location" nillable="true" type="q25:Location" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateLocationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSocialNetwork">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="socialNetwork" nillable="true" type="q26:SocialNetwork" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSocialNetworkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateSocialNetworkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserNetwork">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="userNetwork" nillable="true" type="q27:UserNetwork" />
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
        <xs:element minOccurs="0" name="idSocial" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserNetworkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateUserNetworkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRaider">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="raider" nillable="true" type="q28:Raider" />
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRaiderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateRaiderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGroupComponent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="groupComponent" nillable="true" type="q29:GroupComponent" />
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGroupComponentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateGroupComponentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGroupComponent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="groupComponent" nillable="true" type="q30:GroupComponent" />
        <xs:element minOccurs="0" name="componentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGroupComponentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditGroupComponentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRequirements">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="requirements" nillable="true" type="q31:Requirements" />
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
        <xs:element minOccurs="0" name="dealId" type="xs:int" />
        <xs:element minOccurs="0" name="tradeItemId" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
        <xs:element minOccurs="0" name="status" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRequirementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateRequirementsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRequirements">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="requirements" nillable="true" type="q32:Requirements" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
        <xs:element minOccurs="0" name="status" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditRequirementsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditRequirementsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTradeItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="tradeItem" nillable="true" type="q33:TradeItem" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
        <xs:element minOccurs="0" name="currencyTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTradeItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTradeItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTradeItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="tradeItem" nillable="true" type="q34:TradeItem" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
        <xs:element minOccurs="0" name="currencyTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTradeItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditTradeItemResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCurrency">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="currency" nillable="true" type="q35:Currency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateCurrencyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGroupGenre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
        <xs:element minOccurs="0" name="genreId" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGroupGenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateGroupGenreResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGroupGenre">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="groupGenre" nillable="true" type="q36:GroupGenre" />
        <xs:element minOccurs="0" name="groupGenreId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditGroupGenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditGroupGenreResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="group" nillable="true" type="q37:Groups" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateGroupResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBusiness">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBusinessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="GetAllBusinessResult" nillable="true" type="q38:ArrayOfBusiness" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllArtist">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllArtistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="GetAllArtistResult" nillable="true" type="q39:ArrayOfArtist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCitys">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stateId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCitysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="GetAllCitysResult" nillable="true" type="q40:ArrayOfCat_mpo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="GetAllStatesResult" nillable="true" type="q41:ArrayOfCat_entidad" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckFacebookAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="facebook" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckFacebookAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckFacebookAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkFacebookAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="facebookId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkFacebookAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LinkFacebookAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountFromFacebookId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="facebookId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountFromFacebookIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAccountFromFacebookIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGenre">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="GetAllGenreResult" nillable="true" type="q42:ArrayOfGenre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGroupGenere">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGroupGenereResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="GetAllGroupGenereResult" nillable="true" type="q43:ArrayOfGroupGenre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkArtistGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="artistId" type="xs:int" />
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
        <xs:element minOccurs="0" name="artistInstrumentId" type="xs:int" />
        <xs:element minOccurs="0" name="status" type="xs:boolean" />
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="output" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkArtistGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LinkArtistGroupResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupNonGenders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupNonGendersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="GetGroupNonGendersResult" nillable="true" type="q44:ArrayOfGenre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="GetArtistResult" nillable="true" type="q45:Artist" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="GetGenreResult" nillable="true" type="q46:Genre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllInstrument">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllInstrumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="getAllInstrumentResult" nillable="true" type="q47:ArrayOfInstrument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateArtistInsturment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="artistId" type="xs:int" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="instrument" nillable="true" type="q48:ArtistInstrument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateArtistInsturmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateArtistInsturmentResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditArtistInstrument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="artistId" type="xs:int" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="artistInstrument" nillable="true" type="q49:ArtistInstrument" />
        <xs:element minOccurs="0" name="status" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditArtistInstrumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditArtistInstrumentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="SignInResult" nillable="true" type="q50:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAccountLastConnection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastConnection" type="xs:dateTime" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAccountLastConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditAccountLastConnectionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="GetAccountResult" nillable="true" type="q51:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtistGenre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="artistId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtistGenreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="GetArtistGenreResult" nillable="true" type="q52:ArrayOfGenre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtistGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="artistId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtistGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="GetArtistGroupsResult" nillable="true" type="q53:ArrayOfGroups" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtistAlbums">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="artistId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtistAlbumsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="GetArtistAlbumsResult" nillable="true" type="q54:ArrayOfAlbum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstrument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="instrumentId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInstrumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="GetInstrumentResult" nillable="true" type="q55:Instrument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtistInstruments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="artistId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArtistInstrumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="GetArtistInstrumentsResult" nillable="true" type="q56:ArrayOfInstrument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAProject">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="group" nillable="true" type="q57:Groups" />
        <xs:element minOccurs="0" name="accountId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAProjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAProjectResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkProjectArtist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupId" type="xs:int" />
        <xs:element minOccurs="0" name="artistId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LinkProjectArtistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LinkProjectArtistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProjectArtistInstrument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="artistGroupId" type="xs:int" />
        <xs:element minOccurs="0" name="artistInstrumentId" type="xs:int" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Jammming.ModelClas" minOccurs="0" name="artistGroup" nillable="true" type="q58:artistGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditProjectArtistInstrumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditProjectArtistInstrumentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>