ReservationUI/Service References/ServiceReference1/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3382/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ResevationService" />
  <xs:import schemaLocation="http://localhost:3382/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ReservationModel" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ResevationService" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ResevationService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBusiness">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="typeId" type="xs:int" />
        <xs:element minOccurs="0" name="directionId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBusinessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAllBusinessResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ReservationModel" minOccurs="0" name="GetAccountResult" nillable="true" type="q3:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ReservationModel" minOccurs="0" name="GetReservationResult" nillable="true" type="q4:Reservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ReservationModel" minOccurs="0" name="GetMessageResult" nillable="true" type="q5:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ReservationModel" minOccurs="0" name="GetClientResult" nillable="true" type="q6:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStyle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStyleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ReservationModel" minOccurs="0" name="GetStyleResult" nillable="true" type="q7:Style" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ReservationModel" minOccurs="0" name="GetDirectionResult" nillable="true" type="q8:Direction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusiness">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusinessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ReservationModel" minOccurs="0" name="GetBusinessResult" nillable="true" type="q9:Business" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ReservationModel" minOccurs="0" name="account" nillable="true" type="q10:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>